<div class="text-center">
    <h2>{{games.name}}</h2>
    <p>Created by {{games.developer}} on {{games.release_day}}</p>
    <p>
        <button id="main-btn" class="btn btn-primary">Add A Review!!</button>
    </p>
    {{!-- Review Form --}}

    <div class="row justify-space-between-md hide" id="review-card">
        <div class="login-card">
            <h2 class="page-title">Add a review</h2>
            <form class="form add-review">
                <div class="form-group">
                    <label for="review-title">Title</label>
                    <input class="form-input" type="text" id="review-title" />
                </div>
                <div class="form-group">
                    <label for="review-text">review:</label>
                    <input class="form-input" type="input" id="review-text" />
                </div>
                <div class="form-group">
                    <button id="add-review-btn" class="btn btn-primary" type="submit" data-gameID="{{games.id}}">add</button>
                </div>
            </form>

        </div>
    </div>

    {{#each reviews as |rvData|}}
    {{#each rvData.reviews as |reviewInfo| }}
    <div>
        <li>{{reviewInfo.Title}}</li>
        <ul>{{reviewInfo.description}}</ul>
    </div>
    {{/each}}
    {{/each}}
</div>

 {{#if logged_in}}
    <script src="/js/addReview.js"></script>

  {{/if}}