<div class="text-center">
    <img src="{{games.image}}">
    <h2>{{games.name}}</h2>
    <p>Created by {{games.developer}} on {{games.release_day}}</p>
    <p>
        <button id="main-btn" class="btn btn-primary">Add A Review!!</button>
        <button id="save-btn" class="btn btn-primary" data-gameid="{{games.id}}" data-playerid={{player_id}}>Save this
            Game</button>
    </p>
    {{!-- Review Form --}}

    <div class="row justify-space-between-md hide" id="review-card">
        <div class="login-card">
            <h2 class="page-title">Add a review</h2>
            <form class="form add-review">
                <div class="form-group">
                    <label for="review-title">Title</label>
                    <input class="form-input" type="text" id="review-title" />
                </div>
                <div class="form-group">
                    <label for="review-text">review:</label>
                    <input class="form-input" type="input" id="review-text" />
                </div>
                <div class="form-group">
                    <button id="add-review-btn" class="btn btn-primary" type="submit"
                        data-gameID="{{games.id}}">add</button>
                </div>
                <div class="star-conatiner">
                    <button id="starOne" class="fa fa-star"></button>
                    <button id="starTwo" class="fa fa-star"></button>
                    <button id="starThree" class="fa fa-star"></button>
                    <button id="starFour" class="fa fa-star"></button>
                    <button id="starFive" class="fa fa-star"></button>
                </div>
            </form>

        </div>
    </div>

    {{#each reviews as |rvData|}}
    {{#each rvData.reviews as |reviewInfo| }}
    <div class="review-card">
        <h1 class="rev-card-title">{{reviewInfo.Title}}</h1>
        <div class="review-card-col">
            <p>{{reviewInfo.description}}</p>
        </div>
        <div class="review-card-column">
            <p>Posted by: {{reviewInfo.player_id}}</p>
        </div>
        <div>
            
        </div>
    </div>
    {{/each}}
    {{/each}}
</div>

{{#if logged_in}}
<script src="/js/addReview.js"></script>
<script src="/js/savegame.js"></script>
<script src="/js/rating.js"></script>

{{/if}}