<!-- Loop over each object in the projects array -->
<div class="row mb-4 project">
{{#each games as |game| }}
  <div class="col-md-3">
    <img src="{{game.image}}" width="200px">
      <a href="/game/{{game.id}}">
      {{game.name}}
    </a>
    <p>Created by {{game.developer}} in {{ game.release_day}}</p>
  </div>
{{/each}}
</div>