<!-- Loop over each object in the projects array -->
{{#each games as |game| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <img src="{{game.image}}">
      <a href="/game/{{game.id}}">
      {{game.name}}
    </a>
    <p>Created by {{game.developer}} in {{ game.release_day}}</p>
  </div>
</div>
{{/each}}