<!-- Loop over each object in the projects array -->
<div class="row mb-5 project">
{{#each games as |game| }}
  <div class="col-md-3 centext">
  <a href="/game/{{game.id}}"><img class="homepageImg" src="{{game.image}}" width="200px"></a>
      {{!-- <a href="/game/{{game.id}}">
      {{game.name}}
    </a> --}}
    <p class="homepagecolor">{{game.name}}</p>
    <p class="homepagecolor">Created by: {{game.developer}} in {{ game.release_day}}</p>
  </div>
{{/each}}
</div>